{% extends "layouts/base_app.html" %}

{% block title %} Personal Config {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
              <h4 class="card-title">PERFIL PERSONAL</h4>
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              
              {% csrf_token %}
              
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <h4>{{ user_form.username.label_tag }}</h4>
                    {{ user_form.username }}
                    </div>
                    <div class="form-group">
                      <h4>{{ user_form.first_name.label_tag }}</h4>
                      {{ user_form.first_name }}
                    </div>
                    <div class="form-group">
                      <h4>{{ user_form.last_name.label_tag }}</h4>
                      {{ user_form.last_name }}
                    </div>
                    <div class="form-group">
                      <h4>{{ user_form.email.label_tag }}</h4>
                      {{ user_form.email }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <h4>{{ profile_form.phone.label_tag }}</h4>
                      {{ profile_form.phone }}
                    </div>
                    <div class="form-group">
                      <h4>{{ profile_form.birthday.label_tag }}</h4>
                      {{ profile_form.birthday }}
                    </div>
                    <div class="form-group">
                      <h4>{{ profile_form.country.label_tag }}</h4>
                      {{ profile_form.country }}
                    </div>
                    <div class="form-group">
                      <h4>{{ profile_form.city.label_tag }}</h4>
                      {{ profile_form.city }}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <h4>{{ profile_form.address.label_tag }}</h4>
                      {{ profile_form.address }}
                    </div>
                    <div class="form-group">
                      <h4>{{ profile_form.floor.label_tag }}</h4>
                      {{ profile_form.floor }}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <h4>{{ profile_form.door.label_tag }}</h4>
                      {{ profile_form.door }}
                    </div>
                    <div class="form-group">
                      <h4>{{ profile_form.lang.label_tag }}</h4>
                      {{ profile_form.lang }}
                    </div>
                  </div>
                </div>

                <br>
                
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                  </div>
                </div>
            </form>
          </div>        
        </div>
    </div>
    <div class="col-md-4">
      <div class="card card-profile">
          <div class="card-avatar">
            <img class="img" src="{{ current_user.img_profile.url }}" />
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="file" name="img_profile">
              <button type="submit" class="btn btn-primary btn-round">Cambiar Foto</button>
          </form>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
