{% extends "layouts/base_app.html" %}
{% load static %}

{% block title %}Modificar Recibo o Gasto | LUME{% endblock %}

{% block content %}
<a href="{% url 'home:mostrar_modificar_gastos_recibos' comunidad_seleccionada %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</a>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-success">
                <h2 class="text-center">Modificar Recibo o Gasto</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>

                <br>
                
                {% if recibo.archivo %}
                    <p>Archivos adjuntos: 
                        <a href="?download=true"><i class="material-icons">file_download</i> DESCARGAR</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
