{% extends "layouts/base_app.html" %}

{% block title %}Modificar Recibo o Gasto | LUME{% endblock %}

{% block content %}
<a href="{% url 'home:gastos' %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</a>

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-success">
                <h2 class="text-center">Modificar Recibo o Gasto</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="titulo">Título:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" value="{{ recibo.titulo }}">
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea class="form-control" id="descripcion" name="descripcion" rows="5" style="resize: vertical;">{{ recibo.descripcion }}</textarea>
                    </div>
                    
                    {% if tipo == 'gasto_personal' %}
                        <div class="form-group">
                            <label for="fecha">Fecha ({{ recibo.fecha}}):</label>
                            <input type="date" class="form-control" id="fecha" name="fecha" value="{{ recibo.fecha}}">
                        </div>

                        <div class="form-group">
                            <label for="cantidad">Cantidad ({{ recibo.cantidad}} €):</label>
                            <input type="number" class="form-control" id="cantidad" name="cantidad" value="{{ recibo.cantidad }}">
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="fecha_tope">Fecha ({{ recibo.fecha_tope}}):</label>
                            <input type="date" class="form-control" id="fecha_tope" name="fecha_tope" value="{{ recibo.fecha_tope}}">
                        </div>

                        <div class="form-group">
                            <label for="cantidad_total">Cantidad Total ({{ recibo.cantidad_total}} €):</label>
                            <input type="number" class="form-control" id="cantidad_total" name="cantidad_total" value="{{ recibo.cantidad_total }}">
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select class="form-control" id="estado" name="estado">
                            <option value="pendiente" {% if recibo.estado == 'pendiente' %} selected {% endif %}>Pendiente</option>
                            <option value="pagado" {% if recibo.estado == 'pagado' %} selected {% endif %}>Pagado</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
