{% extends "layouts/base_app.html" %}

{% block title %} CONFIGURACION COMUNIDAD | LUME {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<a href="{% url 'home:administrar_viviendas' comunidad_seleccionada=comunidad_id %}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</a>

<br>

{% if success %}
  <div class="alert alert-success alert-dismissible">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>¡ACTUALIZADA!</strong> Vivienda actualizada correctamente
  </div> 
{% endif %} 

<div class="row">
  <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Editar Vivienda</h4>
        </div>
        <div class="card-body">

          {% if msg %}
            <br>
            <h6 class="card-category">
              <span class="text-danger">{{ msg | safe }}</span>
            </h6>
          {% endif %}  

          <br>

          <form method="post">
            {% csrf_token %}
            {{ viviendas_form.as_p }}
            <button type="submit">Guardar cambios</button>
          </form>
        </div>        
      </div>
  </div> 
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
