{% extends "layouts/base_app.html" %}

{% block title %} Ver Incidencia | LUME {% endblock %} 

{% block content %}
<a href="{% url 'home:ver_incidencias' %}" class="btn btn-light bg-dark"><i class="fa fa-arrow-left"></i> Volver</a>

<br>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-light bg-dark">
                <h4 class="card-title mt-0"><i class="material-icons">visibility</i> Ver Incidencia</h4>
            </div>
            <div class="card-body">
                <h5>Título: {{ incidencia.titulo }}</h5>
                <p>Descripción: {{ incidencia.descripcion }}</p>
                {% if incidencia.archivo %}
                    <p>Archivos adjuntos: <a href="{% url 'home:ver_incidencia' incidencia.id %}?download=true"><i class="material-icons">file_download</i> DESCARGAR</a></p>
                {% endif %}
                <p>Prioridad: {{ incidencia.prioridad }}</p>
                <p>Estado: {{ incidencia.estado }}</p>
                {% if incidencia.empresa %}
                    <p>Empresa: {{ incidencia.empresa }}</p>
                    <p>Presupuesto: {{ incidencia.gasto }}€</p>
                {% else %}
                    <p>Empresa: Pendiente de asignar</p>
                {% endif %}
                {% if user.userprofile.user_rol == 'community_admin' or  user.userprofile.user_rol == 'lume' %}
                    <a>Valoración: {{ incidencia.valoracion }}</a>
                    
                    <br>
                    
                    <a href="{% url 'home:editar_incidencia' incidencia.id %}" class="btn btn-dark">Editar</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
