{% extends "layouts/base_app.html" %}
{% load static %}

{% block title %} Detalle del Movimiento | LUME {% endblock %} 

{% block content %}
<div class="container">
    <a href="{% url 'home:gastos' %}" class="btn btn-gastos mb-4"><i class="fa fa-arrow-left"></i> Volver</a>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-gastos text-center" style="border-bottom: 1px solid #d3d3d3;">
                    <h1>Detalle del Movimiento</h1>
                </div>
                <div class="card-body" style="background-color: #f9f9f9;">
                    <p style="background-color: #d6d5d5; margin-bottom: 0rem; padding: 10px;">
                        <strong>Título </strong>
                    </p>
                    <p style="border-bottom: 1px solid #d3d3d3; background-color: #eaeaea; padding: 10px;">
                        {{ movimiento.titulo }}
                    </p>
                    <p style="background-color: #d6d5d5; margin-bottom: 0rem; padding: 10px;">
                        <strong>Descripción </strong>
                    </p>
                    <p style="border-bottom: 1px solid #d3d3d3; background-color: #eaeaea; padding: 10px;">
                        {{ movimiento.descripcion }}
                    </p>
                    {% if tipo == 'gasto_personal' %}
                        <p style="background-color: #d6d5d5; margin-bottom: 0rem; padding: 10px;">
                            <strong>Cantidad Total </strong>
                        </p>
                        <p style="border-bottom: 1px solid #d3d3d3; background-color: #eaeaea; padding: 10px;">
                            {{ movimiento.cantidad }}
                        </p>
                        <p style="background-color: #d6d5d5; margin-bottom: 0rem; padding: 10px;">
                            <strong>Fecha </strong>
                        </p>
                        <p style="border-bottom: 1px solid #d3d3d3; background-color: #eaeaea; padding: 10px;">
                            {{ movimiento.fecha }}
                        </p>
                    {% else %}
                        <p style="background-color: #d6d5d5; margin-bottom: 0rem; padding: 10px;">
                            <strong>Cantidad Total </strong>
                        </p>
                        <p style="border-bottom: 1px solid #d3d3d3; background-color: #eaeaea; padding: 10px;">
                            {{ movimiento.cantidad_total }}
                        </p>
                        <p style="background-color: #d6d5d5; margin-bottom: 0rem; padding: 10px;">
                            <strong>Fecha </strong>
                        </p>
                        <p style="border-bottom: 1px solid #d3d3d3; background-color: #eaeaea; padding: 10px;">
                            {{ movimiento.fecha_tope }}
                        </p>
                    {% endif %}
                    <p style="background-color: #d6d5d5; margin-bottom: 0rem; padding: 10px;">
                        <strong>Estado </strong>
                    </p>
                    <p style="border-bottom: 1px solid #d3d3d3; background-color: #eaeaea; padding: 10px;">
                        {{ movimiento.estado }}
                    </p>
                    {% if movimiento.archivo %}
                        <p style="background-color: #d6d5d5; margin-bottom: 0rem; padding: 10px;">
                            <b>Archivos adjuntos</b>
                        </p>
                        <p class="text-center" style="border-bottom: 1px solid #d3d3d3; background-color: #eaeaea; padding: 10px;">
                            <a href="?download=true"><i class="material-icons">file_download</i> DESCARGAR</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
