{% extends 'layouts/base_lume.html' %}
{% load static %} 

{% block title %} 404 | LUME {% endblock %}

{% block body %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-header">
                    <a href="/" class="btn btn-primary btn-round">Volver</a>
                </div>
                <div class="card-body">
                    <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                        <img src="/static/img/errors/404.png" alt="Error 404" style="width: 70%;">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
