{% extends 'layouts/base.html' %}
{% load static %} 

{% block title %} LUME {% endblock %}
{% block links %} 
    <link rel="stylesheet" href="{% static 'css/info.css' %}" >
    <link rel="stylesheet" href="{% static 'css/lume.css' %}" > 
{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg fixed-top" id="lume-navbar">
            <div class="container-fluid">

                <!-- Logo -->
                <a class="navbar-brand">
                    <img src="{% static 'img/LUME.png' %}" alt="LUME Logo" height="90px">
                </a>
                
                <!-- Botón del Menú -->
                <button class="navbar-toggler order-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Inició</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects.html">Nuestros proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/home/login">Regístrate</a>
                        </li>
                        <!-- LANGUAGES -->
                        <li class="nav-item">
                            <div class="language-dropdown">
                                <a class="nav-link language-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    IDIOMA
                                </a>
                                
                                <!-- CHANGE LANGUAGE -->
                                <ul class="language-menu dropdown-menu">
                                    <li>
                                        <form class="language-form" action="/" method="post">
                                            <input type="hidden" name="idioma" value="es">
                                            <button class="dropdown-item language-button" type="submit">ESPAÑOL</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form class="language-form" action="/" method="post">
                                            <input type="hidden" name="idioma" value="en">
                                            <button class="dropdown-item language-button" type="submit">INGLES</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <br><br><br>

    <!-- BODY-->
    <div id="body-container" style="padding: 100px 0;">
        <div class="container">
            <div class="lume-info">
                <div class="lume-title">
                    <h1>Living Urban Management Experience</h1>
                    <div class="blue-line"></div>
                    <h2>¿Qué es LUME?</h2>
                </div>
                <div class="lume-description">
                    <p>LUME es una plataforma integral diseñada para mejorar la convivencia y la gestión en comunidades vecinales. Nuestra aplicación ofrece una amplia gama de herramientas para simplificar la administración y promover la participación de los miembros de la comunidad.</p>
                    <p>Desde el envío de comunicados importantes hasta la gestión de reservas de instalaciones y la colaboración en la resolución de incidencias, LUME está diseñado para facilitar la vida de los administradores y los residentes. Además, proporcionamos una plataforma segura y fácil de usar que permite a los residentes acceder a información importante y participar activamente en la vida comunitaria.</p>
                    <p>Con un enfoque en la transparencia y la eficiencia, nuestra plataforma busca fortalecer los lazos comunitarios y crear entornos residenciales más seguros, cómodos y armoniosos. Además de facilitar la comunicación y la colaboración entre los miembros de la comunidad, LUME también ofrece herramientas avanzadas de seguimiento y gestión de datos para mejorar la toma de decisiones y optimizar el funcionamiento de la comunidad en general.</p>
                </div>
            </div>
        </div>

        <br><br><br>

        <!-- BENEFITS -->
        <section class="benefits" style="background-color: #cee5f3;">
            <div class="benefits-container">
                <div class="col-md-6 d-flex flex-column align-items-center order-2 order-md-1">
                    <div class="image-wrapper">
                        <img src="{% static 'img/lume_app.png' %}" alt="Imagen LUME" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center order-1 order-md-2">
                    <div class="benefits-text">
                        <h3>Beneficios de usar LUME</h3>
                        <div class="divider"></div>
                        <ul class="benefits-list">
                            <li>✔️ Comunicación instantánea</li>
                            <li>✔️ Gestiona las instalaciones</li>
                            <li>✔️ Resolución de incidencias</li>
                            <li>✔️ Transparencia financiera</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>



        <br><br><br>

        <!-- CONTENT -->
        <div class="content-app">
            <h3 class="content-title">Nuestra Aplicación</h3>
            <p>
                La aplicación de LUME está diseñada pensando en la comodidad y la usabilidad. Con una interfaz intuitiva y funciones personalizadas <br>
                para las necesidades de cada comunidad, nuestra plataforma hace que la gestión comunitaria sea más fácil que nunca.<br>
                Algunas de las características clave de nuestra aplicación incluyen:<br>
            </p>

            <br>

            <div class="table-container">
                <table class="content-table">
                    <tr>
                        <td>Envío de comunicados instantáneos a todos los miembros de la comunidad.</td>
                    </tr>
                    <tr>
                        <td>Gestión de reservas de instalaciones comunes, como piscinas, salas de reuniones y pistas deportivas.</td>
                    </tr>
                    <tr>
                        <td>Seguimiento y resolución colaborativa de incidencias reportadas por los residentes.</td>
                    </tr>
                    <tr>
                        <td>Registro y seguimiento de gastos comunitarios para una mayor transparencia financiera.</td>
                    </tr>
                    <tr>
                        <td>Foros de discusión y tablones de anuncios para fomentar la participación y el intercambio de información entre vecinos.</td>
                    </tr>
                </table>
            </div>            

            <br><br>
            
            <p style="color: #666; font-size: 16px; line-height: 1.6;">Además, nuestra aplicación es compatible con varios idiomas para adaptarse a la diversidad de las comunidades que servimos.</p>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer" style="background-color: #687a85; color: #fff; text-align: center; padding: 20px;">
        <p>© 2024 LUME - Todos los derechos reservados | Desarrollado por <a href="https://github.com/Adrianlm17">Adrianlm17</a></p>
    </footer>

{% endblock %}
