{% extends 'default.html' %}

{% block title %} PROJECTS {% endblock %}
{% block links %} 
    <link href="../static/css/lume/lume.css" rel="stylesheet"> 
    <link href="../static/css/lume/projects.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">
{% endblock %}

{% block body %}
    <header>
        <nav class="navbar navbar-expand-lg fixed-top" id="lume-navbar">
            <div class="container-fluid">

                <!-- Logo -->
                <a class="navbar-brand">
                    <img src="/static/img/LUME.png" alt="LUME Logo" height="90px">
                </a>
                
                <!-- LUME PAGES -->
                <div class="collapse navbar-collapse justify-content-end ms-4" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/info">Quiénes somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contacta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Regístrate</a>
                        </li>

                        <!-- LANGUAGES -->
                        <li class="nav-item">
                            <div class="language-dropdown">
                                <a class="nav-link language-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ language }}
                                </a>
                                
                                <!-- CHANGE LANGUAGE -->
                                <ul class="language-menu dropdown-menu">
                                    <li>
                                        <form class="language-form" action="/" method="post">
                                            <input type="hidden" name="idioma" value="es">
                                            <button class="dropdown-item language-button" type="submit">{{ translation.button_spanish }}</button>
                                        </form>
                                    </li>
                                    <li>
                                        <form class="language-form" action="/" method="post">
                                            <input type="hidden" name="idioma" value="en">
                                            <button class="dropdown-item language-button" type="submit">{{ translation.button_english }}</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <br><br>

    <!-- BODY-->
    <div id="body-container" style="padding: 100px 0;">
        <div class="container">
            <div class="lume-contact">
                <div class="lume-title">
                    <h1>Nuestros Clientes</h1>
                    <div class="blue-line"></div>
                    <h2>Actualmente ya hay más de 500 comunidades que cuentan con los servicios de LUME</h2>
                </div>
            </div>
        </div>

        <div class="projects-container">
            <div class="project-item">
                <img src="/static/img/JuanGris38.png" alt="Juan Gris 38">
                <div class="project-info">
                    <h3>Juan Gris 38</h3>
                    <p>
                        Tras muchos intentos fracasados en busca de una aplicación que pudiera cumplir todas las necesidades que tenía la comunidad, la comunidad
                        Juan Gris 38 dio con nosotros. Tras un par de reuniones con la finalidad de buscar una solución a sus necesidades, nos dieron
                        la oportunidad de adaptar la aplicación con la finalidad de que les permitiera cumplir con lo que tanto llevaban buscando.
                    </p>
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h3>ESPARTA198</h3>
                    <p>
                        Una comunidad de Valencia llamada ESPARTA 198 nos solicitó un sistema que fuera sencillo de manejar y les permitiera tener una mejor transparencia,
                        dado que estaban teniendo problemas internos con su gestión.<br>
                        Desde LUME les proporcionamos un servicio que se adaptara a sus necesidades y les facilitara la gestión de su comunidad. Desde entonces, la comunidad ESPARTA 198
                        cuenta con nuestros servicios.
                    </p>
                </div>
                <img src="/static/img/esparta198.jpg" alt="ESPARTA 198">
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h3>Miguel Ángel Riat</h3>
                    <p>
                        No hace falta ser una comunidad muy grande para poder solicitar nuestros servicios, como claro ejemplo está la comunidad de Miguel Ángel Riat. Esta comunidad de apenas
                        cuatro viviendas acudió a LUME para que les proporcionara un sistema sencillo sin contenido innecesario, el cual les permitiera gestionar la comunidad de la manera más sencilla y eficaz posible.
                    </p>
                </div>
            </div>
            <div class="project-item">
                <img src="/static/img/montepinar.jpg" alt="Montepinar">
                <div class="project-info">
                    <h3>Montepinar</h3>
                    <p>
                        ¿Y si te dijéramos que lo que deseas para tu comunidad pudiera hacerse realidad? Pues es el claro ejemplo de la comunidad Montepinar,
                        con su extensa lista de requisitos y apenas sin esperanzas, Montepinar obtuvo su aplicación ideal.
                    </p>
                </div>
            </div>
            <div class="project-item">
                <div class="project-info">
                    <h3>Atalaya del Arcipreste</h3>
                    <p>
                        ¿Tenéis unas instalaciones chulísimas y apenas les dais uso?¿Una pista de pádel y mil horas de cola para poder jugar un rato? Pues haz como la Atalaya del arcipreste
                        y deja que de esos problemas nos encarguemos nosotros. Desde LUME te ofrecemos un sistema de gestión de espacios, donde podrás reservar las instalaciones de una forma sencilla.
                        También te ofrecemos la posibilidad de crear eventos como un torneo de ping pong o una clase de zumba o yoga.
                    </p>
                </div>
                <img src="/static/img/AtalayaDelArcipreste.jpg" alt="Proyecto 5">
            </div>
            <div class="project-item">
                <img src="/static/img/desengaño21.jpg" alt="Desengaño 21">
                <div class="project-info">
                    <h3>Desengaño 21</h3>
                    <p>
                        ¿Cansado de estar en números rojos y no saber por qué? ¿Harto de solo escuchar la palabra "DERRAMA" en las juntas? Pues desde LUME ofrecemos una
                        opción ideal donde poder ver todos tus gastos económicos, un historial con su respectivo balance mensual, y muchas cosas más.
                        Y si no preguntar a la comunidad de Desengaño 21, que lleva ya 5 años contando con nuestros servicios.
                    </p>
                </div>
            </div>
        </div>

        <br><br><br>

        <p style="color: #666; font-size: 30px; line-height: 1.5;">
            ¿Estás listo para empezar a disfrutar de la experiencia de LUME?
        </p>

    </div>

    <!-- FOOTER -->
    <footer class="footer" style="background-color: #687a85; color: #fff; text-align: center; padding: 20px;">
        <p>© 2024 LUME - Todos los derechos reservados | Desarrollado por <a href="https://github.com/Adrianlm17">Adrianlm17</a></p>
    </footer>

{% endblock %}
