/************************************************************ NAVBAR ************************************************************/
#lume-navbar {
    background-color: #6990a8;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    font-size: 20px;
    border: 1px solid #272626;
    border-radius: 8px;
    background-color: rgb(172, 200, 216);
    color: #272626;
    margin: 0 5px;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #3c5a75;
    border-color: #3c5a75;
    color: #fff;
}

.language-toggle {
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration: none;
}

.language-menu {
    position: absolute;
    right: 5px;
    left: auto;
    margin-top: 5px;
}

.language-button {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: left;
    color: #000;
    border: none;
    cursor: pointer;
}

.language-button:hover {
    background-color: #cdd5de;
}



/************************************************************ BANNER ************************************************************/
#banner-container {
    width: 100%;
    padding-top: 60px;
}

#banner_lume {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



/************************************************************ BODY ************************************************************/
#body-container {
    background-color: #e4f2fa;
    text-align: center;
}

.welcome-section {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.welcome-image {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-right: 40px;
}

.welcome-text {
    flex: 1;
    text-align: left;
}

.welcome-text h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.welcome-text p {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
}



/************************************************************ COMUNITYS ************************************************************/
.our-projects {
    background-color: rgb(155, 174, 185);
    padding: 25px;
    text-align: center;
}

.our-projects h2 {
    color: #393737;
    padding-bottom: 25px;
}

.project-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.project-card {
    width: 950px;
    height: 275px;
    background-color: rgb(202, 210, 214);
    border: 1px solid #524f4f;
    border-radius: 10px;
    overflow: hidden;
}

.card-body {
    display: flex;
}

.card-body img {
    width: 50%;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.content {
    width: 50%;
    padding: 20px;
}

.card-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
}

.btn {
    display: block;
    margin-left: 125px;
    margin-right: 125px;
    border-radius: 10px;
    border-color: #000000;
    background-color: #6f94ab;
}


.btn:hover {
    display: block;
    margin-left: 125px;
    margin-right: 125px;
    border-radius: 10px;
    border-color: #000000;
    background-color: #55636b;
    color: #ffffff;
}



/************************************************************ ADVANTAGES ************************************************************/
.adventages {
    padding-top: 20px;
}

/* Iconos */
.icon-effect {
    display: flex;
    align-items: center;
}

.icon-effect i {
    font-size: 36px;
}

.flex-grow-1 {
    text-align: left;
}

.flex-grow-1 h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.ff-secondary {
    color: #6c757d;
}

.d-flex {
    padding: 1rem;
}



/************************************************************ CONTACT ************************************************************/
.contact-us {
    margin-bottom: 40px;
    text-align: center;
    padding: 20px 0;
    height: 550px;
}

.contact-us h2 {
    font-size: 24px;
    color: #fff;
    padding: 15px 0px 15px 0px;
}

.contact-form {
    display: inline-block;
    background-color: #a3b9c7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 25px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #3c5a75;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding-bottom: 15px;
}

.contact-form button:hover {
    background-color: #2a3e52;
}


/************************************************* RESPONSIVE DESIGN **************************************************/
@media (max-width: 767px) {
    /************************************************************ NAVBAR ************************************************************/
    .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        margin: 5px 0;
    }

    .language-menu {
        position: static;
        margin-top: 10px;
    }

    .language-button {
        width: auto;
        text-align: center;
    }

    /************************************************************ BANNER ************************************************************/
    #banner-container {
        padding-top: 115px;
    }

    /************************************************************ BODY ************************************************************/
    .welcome-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .welcome-content {
        flex-direction: column-reverse;
    }

    .welcome-image {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .welcome-text {
        text-align: center;
    }

    /************************************************************ COMUNITYS ************************************************************/
    .our-projects {
        height: 600px;
        text-align: center;
    }

    .project-card {
        width: auto;
        height: 475px;
        background-color: rgb(202, 210, 214);
        border: 1px solid #524f4f;
        border-radius: 10px;
        overflow: hidden;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .project-card .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .project-card .card-body img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .project-card .content {
        padding: 20px;
        width: auto;
    }

    /************************************************************ ADVANTAGES ************************************************************/
    .advantages-content {
        display: block;
        margin: 0 auto;
    }

    .flex-grow-1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .icon-effect {
        justify-content: center;
    }

    .d-flex {
        flex-direction: column;
    }

    .advantages-content table tr td {
        width: 100%;
    }

    /************************************************************ CONTACT ************************************************************/
    .contact-us {
        height: auto;
        padding-bottom: 100px;
    }

    .contact-form {
        width: 90%;
        margin: 0 auto;
    }
}
