/***************************************************************** PROYECTS *****************************************************************/
.body-container{
    background-color: aliceblue;
}

.lume-title {
    text-align: center;
    margin-bottom: 50px;
    font-family: serif;
}

.lume-title h1 {
    color: #4b4b4b;
    font-size: 48px;
    line-height: 1.2;
}

.blue-line {
    height: 2px;
    width: 80%;
    background-color: #406c8a;
    margin: 0 auto 20px;
}

.lume-title h2 {
    font-size: 24px;
    color: #848ca8;
    line-height: 46px;
}

.lume-description{
    text-align: left;
}



/***************************************************************** ITEMS *****************************************************************/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    width: calc(45% - 20px);
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #272626;
    background-color: #bfe5f3;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-info {
    text-align: center;
    flex-grow: 1;
    padding: 10px;
}

.project-info h3 {
    margin-top: 0;
    font-family: serif;
}

.project-info p {
    margin-bottom: 0;
    text-align: left;
}

.project-item img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
}


/************************************************* RESPONSIVE DESIGN **************************************************/
@media (max-width: 768px) {
    .project-item {
        width: calc(100% - 20px);
    }

    .project-item img {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 15px;
    }
}