{% extends 'layouts/base_lume.html' %}
{% load static %} 

{% block title %} LUME - LOGIN {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
{% endblock %}

{% block body %}

    <div id="alerts"></div>

    <div class="login-box animate__animated animate__fadeIn">
        <h2>LOGIN</h2>

        <h6 class="card-category">
            {% if msg %}
                <br>
                <span class="text-danger">{{ msg | safe }}</span>
            {% endif %}  
        </h6>

        <br>

        <form role="form" method="post" action="">

            {% csrf_token %} 

            <div>
                {{ form.username }}
            </div>

            <br><br>

            <div>
                {{ form.password }}
            </div>
            
            <br><br>

            <button type="submit" name="login" class="btn btn-secondary pull-left">Login</button>
        </form>

        <br><br>

        <p class="mt-3">
            ¿Aún no tienes una cuenta? <a href="/home/register/">Regístrate</a>
        </p>
    </div>

{% endblock %}
