{% extends 'layouts/base_lume.html' %}
{% load static %}

{% block title %} EMAIL SENT | LUME {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
{% endblock %}

{% block body %}
    <div class="login-box animate__animated animate__fadeIn">
        <h1 style="color: white;">We have sent an email with a link to reset your password, please check your email!</h1>

        <br>

        <p style="color:black; background-color: white; ">
            <a href="/login/login/" class="text-black text-small">¡LOG IN!</a>
        </p>
    
    </div>
{% endblock %}
