{% extends 'layouts/base_lume.html' %}
{% load static %}

{% block title %} Recover password | LUME {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
{% endblock %}

{% block body %}
    <div class="login-box animate__animated animate__fadeIn PasswordResetForm">
        <h1 style="color: white;">Recover password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary pull-left">Send reset link</button>
        </form>
    </div>

{% endblock %}
