<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <p>Hola estimad@ usuari@,</p>
    <p>Has recibido este correo porque has solicitado restablecer la contraseña de su cuenta.</p>
    <p>Porfavor vaya al siguiente enlace para recuperar su cuenta:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Cambiar contraseña</a></p>
    <p>Si no has solicitado restablacer la contraseña, puedes ignorar este correo.</p>
    <p>Gracias,</p>
    <p>LUME</p>
</body>
</html>
