{% extends 'layouts/base_lume.html' %}
{% load static %}

{% block title %} Recuperar Contraseña | LUME {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> 
{% endblock %}

{% block body %}
    <div class="login-box animate__animated animate__fadeIn PasswordResetForm">
        <h2>Recuperar Contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-secondary pull-left">Enviar enlace de restablecimiento</button>
        </form>
    </div>

{% endblock %}
