{% extends "layouts/base_admin.html" %}
{% load static %}

{% block title %} Personal Config {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h6 class="card-category">
  {% if msg %}
      <br>
      <span class="text-danger">{{ msg | safe }}</span>
  {% endif %}  
</h6>

{% if success %}
<h6 class="card-category">
  <span class="text-success">¡CREADO CORRECTAMENTE!</span>
</h6>
{% endif %}


<div class="row">
  <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">CREAR USUARIO</h4>
        </div>
        <div class="card-body">
          <form role="form" method="post" action="">
            {% csrf_token %}

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  {{ user_form.username }}
                  <span class="text-danger">{{ user_form.username.errors }}</span>
                </div>
                <div class="form-group">
                  {{ user_form.first_name }}
                  <span class="text-danger">{{ user_form.first_name.errors }}</span>
                </div>
                <div class="form-group">
                  {{ user_form.last_name }}
                  <span class="text-danger">{{ user_form.last_name.errors }}</span>
                </div>
                <div class="form-group">
                  {{ user_form.email }}
                  <span class="text-danger">{{ user_form.email.errors }}</span>
                </div>
                <div class="form-group">
                  {{ user_form.password1 }}
                  <span class="text-danger">{{ user_form.password1.errors }}</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  {{ userprofile_form.phone }}
                  <span class="text-danger">{{ userprofile_form.phone.errors }}</span>
                </div>
                <div class="form-group">
                  {{ userprofile_form.birthday }}
                  <span class="text-danger">{{ userprofile_form.birthday.errors }}</span>
                </div>
                <div class="form-group">
                  {{ userprofile_form.lang }}
                  <span class="text-danger">{{ userprofile_form.lang.errors }}</span>
                </div>
                <div class="form-group">
                  {{ userprofile_form.user_rol }}
                  <span class="text-danger">{{ userprofile_form.user_rol.errors }}</span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">Crear Usuario</button>
              </div>
            </div>
          </form>
        </div>        
      </div>
    </div> 
  </div> <!---->
  
    <!--<div class="row">
      <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">CREAR EMPRESA</h4>
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                
                {% csrf_token %}
                
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <h4>NOMBRE</h4>
                      </div>
                    <div class="form-group">
                      <h4>DESCRIPCIÓN</h4>
                    </div>
                    <div class="form-group">
                      <h4>Telefono</h4>
                    </div>
                    <div class="form-group">
                      <h4>Correo</h4>
                    </div>
                      <div class="form-group">
                        <h4>PAIS</h4>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <h4>Provincia</h4>
                      </div>
                      <div class="form-group">
                        <h4>Municipio</h4>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <h4>DIRECCION</h4>
                      </div>
                      <div class="form-group">
                        <h4>VALORACION_MEDIA</h4>
                      </div>
                    </div>
                  </div>
  
                  <br>
  
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <button type="submit" class="btn btn-primary">Crear Empresa</button>
                    </div>
                  </div>
              </form>
            </div>        
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
              <h4 class="card-title">ASIGNAR COMUNIDAD</h4>
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              
              {% csrf_token %}
              
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <h4>USUARIO</h4>
                    </div>
                  <div class="form-group">
                    <h4>COMUNIDAD</h4>
                  </div>
                </div>

                <br>

                <div class="row">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn btn-primary">Asignar Comunidad</button>
                  </div>
                </div>
            </form>
          </div>        
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">ASIGNAR EMPRESA</h4>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            
            {% csrf_token %}
            
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <h4>USUARIO</h4>
                  </div>
                <div class="form-group">
                  <h4>EMPRESA</h4>
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-primary">Asignar Empresa</button>
                </div>
              </div>
          </form>
        </div>        
      </div>
  </div>
</div> -->
  {% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}