{% extends "layouts/base_admin.html" %}

{% block title %} ADMIN | LUME {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title mt-0"><i class="material-icons">house_siding</i> Listado de Viviendas </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th>
                  USUARIO
                </th>
                <th>
                  COMUNIDAD
                </th>
                <th>
                  ROL
                </th>
                <th>
                  PISO
                </th>
                <th>
                  PUERTA
                </th>
                <th>
                  EDITAR
                </th>
                <th>
                  ELIMINAR
                </th>
              </tr>
              
              {% for vivienda in viviendas %}
              
              <tr>
                <td>
                  {{ vivienda.usuario }}
                </td>
                <td>
                  {{ vivienda.comunidad }}
                </td>
                <td>
                  {{ vivienda.rol_comunidad }}
                </td>
                <td>
                  {{ vivienda.piso }}
                </td>
                <td>
                  {{ vivienda.puerta }}
                </td>
                <td>
                  <a href="{% url 'admin_lume:edit_vivienda' vivienda.id %}">Editar</a>
                </td>
                <td>
                  <form action="{% url 'admin_lume:delete_vivienda' vivienda.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('¿Estás seguro de que deseas eliminar esta comunidad?')">Eliminar</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>  
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
